<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0xlXvKZ57j8b8FK4S74Xpm-_YN8D-Lho</string>
	<key>GCM_SENDER_ID</key>
	<string>414963899494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.certified.jobnow</string>
	<key>PROJECT_ID</key>
	<string>jobnow-e8c11</string>
	<key>STORAGE_BUCKET</key>
	<string>jobnow-e8c11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414963899494:ios:9bfc786842f36be5c461a7</string>
</dict>
</plist>